In [2]:

import findspark

findspark.init("c:/spark")
# spark.stop()

In [3]:
import pyspark
from pyspark.sql import SparkSession
import os


conf = (
    pyspark.SparkConf()
        .setAppName('app_name')
  		#packages
        .set('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.3_2.12:1.6.1')
  		#SQL Extensions
        .set('spark.sql.extensions', 'org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions')
  		#Configuring Catalog
        .set('spark.sql.catalog.iceberg', 'org.apache.iceberg.spark.SparkCatalog')
        .set('spark.sql.catalog.iceberg.type','hadoop')
        .set('spark.sql.catalog.iceberg.warehouse', 'iceberg-warehouse')
)

## Start Spark Session
spark = SparkSession.builder.config(conf=conf).getOrCreate()
print("Spark Running")

## Run Queries
spark.sql("CREATE OR REPLACE TABLE iceberg.table1 (name STRING) USING iceberg")

spark

Spark Running

In [ ]:
# spark.sql('drop table iceberg.table2')

In [36]:
spark.sql("INSERT INTO iceberg.table1 VALUES ('Alex Merced'), ('Dipankar Mazumdar'), ('Jason Huges')")

spark.sql("SELECT * FROM iceberg.table1").show()

+-----------------+
|             name|
+-----------------+
|      Alex Merced|
|Dipankar Mazumdar|
|      Jason Huges|
+-----------------+

In [4]:
spark.sql("SHOW TBLPROPERTIES  iceberg.table1").show(truncate=False)

+-------------------------------+---------------+
|key                            |value          |
+-------------------------------+---------------+
|current-snapshot-id            |none           |
|format                         |iceberg/parquet|
|format-version                 |2              |
|write.parquet.compression-codec|zstd           |
+-------------------------------+---------------+

In [38]:
spark.sql("describe formatted  iceberg.table1").show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|                name|              string|   null|
|                    |                    |       |
|  # Metadata Columns|                    |       |
|            _spec_id|                 int|       |
|          _partition|            struct<>|       |
|               _file|              string|       |
|                _pos|              bigint|       |
|            _deleted|             boolean|       |
|                    |                    |       |
|# Detailed Table ...|                    |       |
|                Name|      iceberg.table1|       |
|                Type|             MANAGED|       |
|            Location|iceberg-warehouse...|       |
|            Provider|             iceberg|       |
|               Owner|         TommyShelby|       |
|    Table Properties|[current-snapshot...|       |
+--------------------+--------------------+-------+

In [39]:
spark.sql("describe table iceberg.table1").show()

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|    name|   string|   null|
+--------+---------+-------+

In [40]:
df = spark.read.format('CSV').option('header','true').load('movies_2482024.csv')
df.createOrReplaceTempView('temp_movies')
df = spark.sql('select * from temp_movies where year > 1000 and id > 0')
df.createOrReplaceTempView('temp_movies')
df.show()
# df.repartition(1).write.format("csv").save('movies_refined')
# spark.sql("CREATE OR REPLACE TABLE iceberg.movies (id INT, name STRING, year INT, ranking STRING) partitioned by (year) location 'iceberg-warehouse/movies' tblproperties ('table_type'='ICEBERG') ")

+---+--------------------+----+-------+
| id|               movie|year|ranking|
+---+--------------------+----+-------+
|  2|                   $|1971|    6.4|
| 11|   $1000 a Touchdown|1939|    6.7|
| 13|$21 a Day Once a ...|1941|     \N|
| 15|                 $30|1999|    7.5|
| 17|      $300 y tickets|2002|     \N|
| 21|           $5.15/Hr.|2004|     \N|
| 31|               $pent|2000|    4.3|
| 32|     $ucces Part One|1986|     \N|
| 33|             $windle|2002|    5.4|
| 34|             & frres|2000|     \N|
| 36|                '15'|2002|    6.8|
| 37|'24-25' ne vozvra...|1968|     \N|
| 38|                 '38|1987|    6.7|
| 39|                 '42|1951|     \N|
| 41|             '49-'17|1917|    5.8|
| 42|'60s Pop Rock Reu...|2004|     \N|
| 44|                 '68|1988|    5.5|
| 47|     '88 Dodge Aries|2002|     \N|
| 48| '93 jie tou ba wang|1993|     \N|
| 49|'94 du bi dao zhi...|1994|    5.7|
+---+--------------------+----+-------+
only showing top 20 rows

In [41]:
spark.sql('select * from temp_movies ').show()
spark.sql('select count(*) from temp_movies').show()

+---+--------------------+----+-------+
| id|               movie|year|ranking|
+---+--------------------+----+-------+
|  2|                   $|1971|    6.4|
| 11|   $1000 a Touchdown|1939|    6.7|
| 13|$21 a Day Once a ...|1941|     \N|
| 15|                 $30|1999|    7.5|
| 17|      $300 y tickets|2002|     \N|
| 21|           $5.15/Hr.|2004|     \N|
| 31|               $pent|2000|    4.3|
| 32|     $ucces Part One|1986|     \N|
| 33|             $windle|2002|    5.4|
| 34|             & frres|2000|     \N|
| 36|                '15'|2002|    6.8|
| 37|'24-25' ne vozvra...|1968|     \N|
| 38|                 '38|1987|    6.7|
| 39|                 '42|1951|     \N|
| 41|             '49-'17|1917|    5.8|
| 42|'60s Pop Rock Reu...|2004|     \N|
| 44|                 '68|1988|    5.5|
| 47|     '88 Dodge Aries|2002|     \N|
| 48| '93 jie tou ba wang|1993|     \N|
| 49|'94 du bi dao zhi...|1994|    5.7|
+---+--------------------+----+-------+
only showing top 20 rows

+--------+
|count(1)|
+--------+
|  302134|
+--------+

In [42]:
df = spark.read.format('CSV').option('header','true').load('directors.csv')
df.createOrReplaceTempView('temp_directors')
df.show()
# df.repartition(1).write.format("csv").save('movies_refined')
# spark.sql("CREATE OR REPLACE TABLE iceberg.movies (id INT, name STRING, year INT, ranking STRING) partitioned by (year) location 'iceberg-warehouse/movies' tblproperties ('table_type'='ICEBERG') ")

+---+------------------+-----------+
| id|        first_name|  last_name|
+---+------------------+-----------+
|  1|              Todd|          1|
|  2|               Les|12 Poissons|
|  3|           Lejaren|   a'Hiller|
|  4|              Nian|          A|
|  5|          Khairiya|  A-Mansour|
|  6|           Ricardo|   A. Solla|
|  8|Kodanda Rami Reddy|         A.|
|  9|     Nageswara Rao|         A.|
| 10|              Yuri|         A.|
| 11|             Swamy|     A.S.A.|
| 12|           Per (I)|      Aabel|
| 13|            Eivind|      Aaeng|
| 14|              Mang|        Aag|
| 15|           Sigfred|    Aagaard|
| 16|           Michael|    Aaglund|
| 17|            Safdar|        Aah|
| 18|            Astrid|      Aakra|
| 19|      Mohamad Reza|     Aalami|
| 20|             Jefri|Aalmuhammed|
| 21|         Rostislav|      Aalto|
+---+------------------+-----------+
only showing top 20 rows

In [43]:
spark.sql('Create TABLE IF NOT EXISTS iceberg.directors(id int, first_name string, last_name string) using ICEBERG TBLPROPERTIES("write.format.default"="avro")')
# spark.sql("Create TABLE IF NOT EXISTS iceberg.movies using ICEBERG partitioned by (year) AS select CAST(id as decimal(14,0)) as id, movie, CAST(year as decimal(14,0)) as year, ranking from temp_movies")
spark.sql("insert overwrite table iceberg.directors select CAST(id as decimal(14,0)) as id, first_name, last_name  from temp_directors").show()

++
||
++
++

In [44]:
spark.sql('select * from iceberg.directors').show()

+---+------------------+-----------+
| id|        first_name|  last_name|
+---+------------------+-----------+
|  1|              Todd|          1|
|  2|               Les|12 Poissons|
|  3|           Lejaren|   a'Hiller|
|  4|              Nian|          A|
|  5|          Khairiya|  A-Mansour|
|  6|           Ricardo|   A. Solla|
|  8|Kodanda Rami Reddy|         A.|
|  9|     Nageswara Rao|         A.|
| 10|              Yuri|         A.|
| 11|             Swamy|     A.S.A.|
| 12|           Per (I)|      Aabel|
| 13|            Eivind|      Aaeng|
| 14|              Mang|        Aag|
| 15|           Sigfred|    Aagaard|
| 16|           Michael|    Aaglund|
| 17|            Safdar|        Aah|
| 18|            Astrid|      Aakra|
| 19|      Mohamad Reza|     Aalami|
| 20|             Jefri|Aalmuhammed|
| 21|         Rostislav|      Aalto|
+---+------------------+-----------+
only showing top 20 rows

In [45]:
df = spark.read.format('CSV').option('header','true').load('movies_directors.csv')
df.createOrReplaceTempView('temp_movies_directors')
df.show()

+----+------+
|d_id|  m_id|
+----+------+
|   1|378879|
|   2|281325|
|   3| 30621|
|   3|304743|
|   4| 60570|
|   5| 63525|
|   6|118137|
|   8|  4860|
|   8| 18086|
|   8| 18458|
|   8| 23136|
|   8| 36169|
|   8| 58625|
|   8| 83754|
|   8| 90571|
|   8| 90573|
|   8|131879|
|   8|165214|
|   8|166374|
|   8|175886|
+----+------+
only showing top 20 rows

In [46]:
spark.sql('Create TABLE IF NOT EXISTS iceberg.movies_directors(d_id int, m_id int) using ICEBERG')
# spark.sql("Create TABLE IF NOT EXISTS iceberg.movies using ICEBERG partitioned by (year) AS select CAST(id as decimal(14,0)) as id, movie, CAST(year as decimal(14,0)) as year, ranking from temp_movies")
spark.sql("insert overwrite table iceberg.movies_directors select CAST(d_id as decimal(14,0)) as d_id, CAST(m_id as decimal(14,0)) as m_id  from temp_movies_directors").show()

++
||
++
++

In [47]:
spark.sql('select * from iceberg.movies_directors').show()

+----+------+
|d_id|  m_id|
+----+------+
|   1|378879|
|   2|281325|
|   3| 30621|
|   3|304743|
|   4| 60570|
|   5| 63525|
|   6|118137|
|   8|  4860|
|   8| 18086|
|   8| 18458|
|   8| 23136|
|   8| 36169|
|   8| 58625|
|   8| 83754|
|   8| 90571|
|   8| 90573|
|   8|131879|
|   8|165214|
|   8|166374|
|   8|175886|
+----+------+
only showing top 20 rows

In [48]:
spark.sql('Create TABLE IF NOT EXISTS iceberg.movies(id int, movie string, year int, ranking string) using ICEBERG PARTITIONED BY (year)')

DataFrame[]

In [49]:
# spark.sql("Create TABLE IF NOT EXISTS iceberg.movies using ICEBERG partitioned by (year) AS select CAST(id as decimal(14,0)) as id, movie, CAST(year as decimal(14,0)) as year, ranking from temp_movies")
spark.sql("insert overwrite table iceberg.movies select CAST(id as decimal(14,0)) as id, movie, CAST(year as decimal(14,0)) as year, ranking from temp_movies").show()

++
||
++
++

In [50]:
out_df = spark.sql('select a.*, concat(d.first_name," ",d.last_name) as director_name from (select m.movie,m.year,m.ranking,d_id from iceberg.movies m join iceberg.movies_directors l on m.id=l.m_id where year>1950 and year<2024) a join iceberg.directors d on a.d_id=d.id ')
out_df.show()

+--------------------+----+-------+-----+-------------------+
|               movie|year|ranking| d_id|      director_name|
+--------------------+----+-------+-----+-------------------+
|'Nendo no omen' y...|1961|     \N|56839|     Nobuo Nakagawa|
|1. maj 1961 godin...|1961|     \N|49421|    Pjer Majhrovski|
|1. maj 1961 godin...|1961|     \N|43018|   Hajrudin Krvavac|
|        10 juin 1944|1961|     \N|15163|      Maurice Cohen|
|     10000 malchikov|1961|     \N|59144|           I. Okada|
|     10000 malchikov|1961|     \N|10637|      Boris Buneyev|
|121 rue Blanche  ...|1961|     \N| 1029|   Quinto Albicocco|
|1964 New York Wor...|1961|     \N|11736|John (XVI) Campbell|
|               2+2=3|1961|     \N|48386|      André Lusicic|
|     5inui haebyeong|1961|     \N|41083|     Ki-duk (I) Kim|
|660124: The Story...|1961|     \N|18724|     Brian De Palma|
|  9 dnej odnogo goda|1961|    7.3|67789|       Mikhail Romm|
|      A byahme mladi|1961|     \N|88258|  Binka Zhelyazkova|
|A cavallo della t...|1961|    5.7|15523|    Luigi Comencini|
|A fost prietenul meu|1961|     \N| 7635|      Andrei Blaier|
|A las cinco de la...|1961|     \N| 4665|Juan Antonio Bardem|
|      A porte chiuse|1961|     \N|66818|          Dino Risi|
| A yesli eto lyubov?|1961|    7.1|64872|       Yuli Raizman|
|Aadhi Kalas Mag P...|1961|     \N|60638|      Raja Paranjpe|
|      Aas Ka Panchhi|1961|     \N|43268|    Mohan (I) Kumar|
+--------------------+----+-------+-----+-------------------+
only showing top 20 rows

In [ ]:
# out_df.write.format("csv").save('movies_refined')

In [51]:
x=spark.sql('SELECT * FROM iceberg.movies.files;')
x.show(truncate=False,vertical = True)

-RECORD 0------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1896/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00003.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1896}
 record_count       | 264
 file_size_in_bytes | 6148
 column_sizes       | {1 -> 868, 2 -> 3906, 3 -> 75, 4 -> 254}
 value_counts       | {1 -> 264, 2 -> 264, 3 -> 264, 4 -> 264}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> �1  , 2 -> Alumnos de Chapu, 3 -> h\a  , 4 -> 2.6}
 upper_bounds       | {1 -> �� , 2 -> You Dirty Boy, 3 -> h\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{868, 264, 0, null, 12718, 372153}, {3906, 264, 0, null, Alumnos de Chapu, You Dirty Boy}, {254, 264, 0, null, 2.6, \N}, {75, 264, 0, null, 1896, 1896}}
-RECORD 1------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1961/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00019.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1961}
 record_count       | 2493
 file_size_in_bytes | 37016
 column_sizes       | {1 -> 7511, 2 -> 27449, 3 -> 74, 4 -> 985}
 value_counts       | {1 -> 2493, 2 -> 2493, 3 -> 2493, 4 -> 2493}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> �   , 2 ->  apkin gelin, 3 -> �\a  , 4 -> 1}
 upper_bounds       | {1 -> PJ , 2 -> zmc kizin kaderi, 3 -> �\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{7511, 2493, 0, null, 191, 412240}, {27449, 2493, 0, null,  apkin gelin, zmc kizin kaderi}, {985, 2493, 0, null, 1, \N}, {74, 2493, 0, null, 1961, 1961}}
-RECORD 2------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1959/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00001.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1959}
 record_count       | 2308
 file_size_in_bytes | 34906
 column_sizes       | {1 -> 6973, 2 -> 25674, 3 -> 75, 4 -> 1183}
 value_counts       | {1 -> 2308, 2 -> 2308, 3 -> 2308, 4 -> 2308}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> K  , 2 ->  double tour, 3 -> �\a  , 4 -> 1}
 upper_bounds       | {1 -> tI , 2 -> sa-Nisse jubiles, 3 -> �\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{6973, 2308, 0, null, 331, 412020}, {25674, 2308, 0, null,  double tour, sa-Nisse jubiles}, {1183, 2308, 0, null, 1, \N}, {75, 2308, 0, null, 1959, 1959}}
-RECORD 3------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1899/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00023.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1899}
 record_count       | 573
 file_size_in_bytes | 11707
 column_sizes       | {1 -> 1761, 2 -> 8595, 3 -> 74, 4 -> 281}
 value_counts       | {1 -> 573, 2 -> 573, 3 -> 573, 4 -> 573}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> N   , 2 -> 'Columbia', 3 -> k\a  , 4 -> 1.1}
 upper_bounds       | {1 -> �� , 2 -> vocation spirite, 3 -> k\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{1761, 573, 0, null, 78, 378013}, {8595, 573, 0, null, 'Columbia', vocation spirite}, {281, 573, 0, null, 1.1, \N}, {74, 573, 0, null, 1899, 1899}}
-RECORD 4------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1968/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00032.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1968}
 record_count       | 3785
 file_size_in_bytes | 55207
 column_sizes       | {1 -> 11344, 2 -> 41413, 3 -> 75, 4 -> 1343}
 value_counts       | {1 -> 3785, 2 -> 3785, 3 -> 3785, 4 -> 3785}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> %   , 2 ->  propos d'un col, 3 -> �\a  , 4 -> 1}
 upper_bounds       | {1 -> �J , 2 -> ventail de Svilm, 3 -> �\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{11344, 3785, 0, null, 37, 412308}, {41413, 3785, 0, null,  propos d'un col, ventail de Svilm}, {1343, 3785, 0, null, 1, \N}, {75, 3785, 0, null, 1968, 1968}}
-RECORD 5------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1902/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00024.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1902}
 record_count       | 487
 file_size_in_bytes | 10169
 column_sizes       | {1 -> 1506, 2 -> 7277, 3 -> 75, 4 -> 161}
 value_counts       | {1 -> 487, 2 -> 487, 3 -> 487, 4 -> 487}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> a   , 2 -> 'Deutschland' Le, 3 -> n\a  , 4 -> 1902}
 upper_bounds       | {1 ->  � , 2 -> ruption volcanir, 3 -> n\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{1506, 487, 0, null, 97, 377888}, {7277, 487, 0, null, 'Deutschland' Le, ruption volcanir}, {161, 487, 0, null, 1902, \N}, {75, 487, 0, null, 1902, 1902}}
-RECORD 6------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1903/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00004.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1903}
 record_count       | 578
 file_size_in_bytes | 10706
 column_sizes       | {1 -> 1793, 2 -> 7518, 3 -> 75, 4 -> 225}
 value_counts       | {1 -> 578, 2 -> 578, 3 -> 578, 4 -> 578}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> �  , 2 -> 10th Pennsylvani, 3 -> o\a  , 4 -> 2.6}
 upper_bounds       | {1 -> �� , 2 -> Young America Cf, 3 -> o\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{1793, 578, 0, null, 903, 372414}, {7518, 578, 0, null, 10th Pennsylvani, Young America Cf}, {225, 578, 0, null, 2.6, \N}, {75, 578, 0, null, 1903, 1903}}
-RECORD 7------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1908/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00017.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1908}
 record_count       | 255
 file_size_in_bytes | 5642
 column_sizes       | {1 -> 846, 2 -> 3576, 3 -> 75, 4 -> 182}
 value_counts       | {1 -> 255, 2 -> 255, 3 -> 255, 4 -> 255}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> �   , 2 ->  l'cu d'or, 3 -> t\a  , 4 -> 3.4}
 upper_bounds       | {1 -> �� , 2 -> mes corses, 3 -> t\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{846, 255, 0, null, 202, 377271}, {3576, 255, 0, null,  l'cu d'or, mes corses}, {182, 255, 0, null, 3.4, \N}, {75, 255, 0, null, 1908, 1908}}
-RECORD 8------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1977/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00006.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1977}
 record_count       | 3237
 file_size_in_bytes | 48552
 column_sizes       | {1 -> 9751, 2 -> 36374, 3 -> 75, 4 -> 1338}
 value_counts       | {1 -> 3237, 2 -> 3237, 3 -> 3237, 4 -> 3237}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> p  , 2 ->  Sombra dos Lara, 3 -> �\a  , 4 -> 1}
 upper_bounds       | {1 -> aJ , 2 -> zgrlgn bedeli, 3 -> �\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{9751, 3237, 0, null, 368, 412257}, {36374, 3237, 0, null,  Sombra dos Lara, zgrlgn bedeli}, {1338, 3237, 0, null, 1, \N}, {75, 3237, 0, null, 1977, 1977}}
-RECORD 9------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1974/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00011.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1974}
 record_count       | 3209
 file_size_in_bytes | 48361
 column_sizes       | {1 -> 9653, 2 -> 36377, 3 -> 75, 4 -> 1252}
 value_counts       | {1 -> 3209, 2 -> 3209, 3 -> 3209, 4 -> 3209}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> �   , 2 ->  Gaule, 3 -> �\a  , 4 -> 1}
 upper_bounds       | {1 -> sJ , 2 -> tranger\, d'o vj, 3 -> �\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{9653, 3209, 0, null, 206, 412275}, {36377, 3209, 0, null,  Gaule, tranger\, d'o vj}, {1252, 3209, 0, null, 1, \N}, {75, 3209, 0, null, 1974, 1974}}
-RECORD 10-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1975/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00005.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1975}
 record_count       | 3412
 file_size_in_bytes | 50680
 column_sizes       | {1 -> 10291, 2 -> 38007, 3 -> 75, 4 -> 1281}
 value_counts       | {1 -> 3412, 2 -> 3412, 3 -> 3412, 4 -> 3412}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> �   , 2 -> "Keep on Truckin, 3 -> �\a  , 4 -> 1}
 upper_bounds       | {1 -> (J , 2 -> szi versenyek, 3 -> �\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{10291, 3412, 0, null, 207, 412200}, {38007, 3412, 0, null, "Keep on Truckin, szi versenyek}, {1281, 3412, 0, null, 1, \N}, {75, 3412, 0, null, 1975, 1975}}
-RECORD 11-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1978/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00016.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1978}
 record_count       | 3393
 file_size_in_bytes | 50550
 column_sizes       | {1 -> 10201, 2 -> 37878, 3 -> 75, 4 -> 1347}
 value_counts       | {1 -> 3393, 2 -> 3393, 3 -> 3393, 4 -> 3393}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> �   , 2 ->  chacun son Bori, 3 -> �\a  , 4 -> 1.3}
 upper_bounds       | {1 -> [J , 2 -> ramts, 3 -> �\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{10201, 3393, 0, null, 200, 412251}, {37878, 3393, 0, null,  chacun son Bori, ramts}, {1347, 3393, 0, null, 1.3, \N}, {75, 3393, 0, null, 1978, 1978}}
-RECORD 12-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1924/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00007.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1924}
 record_count       | 1275
 file_size_in_bytes | 18060
 column_sizes       | {1 -> 3868, 2 -> 12739, 3 -> 75, 4 -> 362}
 value_counts       | {1 -> 1275, 2 -> 1275, 3 -> 1275, 4 -> 1275}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> �   , 2 ->  quoi rvent les , 3 -> �\a  , 4 -> 2.3}
 upper_bounds       | {1 -> 6� , 2 -> dets man, 3 -> �\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{3868, 1275, 0, null, 192, 378166}, {12739, 1275, 0, null,  quoi rvent les , dets man}, {362, 1275, 0, null, 2.3, \N}, {75, 1275, 0, null, 1924, 1924}}
-RECORD 13-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1988/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00029.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1988}
 record_count       | 4759
 file_size_in_bytes | 68478
 column_sizes       | {1 -> 14290, 2 -> 50821, 3 -> 75, 4 -> 2308}
 value_counts       | {1 -> 4759, 2 -> 4759, 3 -> 4759, 4 -> 4759}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> ,   , 2 ->  corps perdu, 3 -> �\a  , 4 -> 1.3}
 upper_bounds       | {1 -> I , 2 -> toile, 3 -> �\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{14290, 4759, 0, null, 44, 411925}, {50821, 4759, 0, null,  corps perdu, toile}, {2308, 4759, 0, null, 1.3, \N}, {75, 4759, 0, null, 1988, 1988}}
-RECORD 14-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1925/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00018.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1925}
 record_count       | 1380
 file_size_in_bytes | 19658
 column_sizes       | {1 -> 4173, 2 -> 13941, 3 -> 74, 4 -> 421}
 value_counts       | {1 -> 1380, 2 -> 1380, 3 -> 1380, 4 -> 1380}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> \v  , 2 -> 'Tis a Long Lane, 3 -> �\a  , 4 -> 2.8}
 upper_bounds       | {1 -> �� , 2 -> regrund-sthammar, 3 -> �\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{4173, 1380, 0, null, 267, 378270}, {13941, 1380, 0, null, 'Tis a Long Lane, regrund-sthammar}, {421, 1380, 0, null, 2.8, \N}, {74, 1380, 0, null, 1925, 1925}}
-RECORD 15-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1922/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00025.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1922}
 record_count       | 1188
 file_size_in_bytes | 17074
 column_sizes       | {1 -> 3603, 2 -> 12035, 3 -> 75, 4 -> 343}
 value_counts       | {1 -> 1188, 2 -> 1188, 3 -> 1188, 4 -> 1188}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> �   , 2 ->  l'ombre de Vati, 3 -> �\a  , 4 -> 2.3}
 upper_bounds       | {1 -> ;� , 2 -> fensge inkognitc, 3 -> �\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{3603, 1188, 0, null, 146, 378171}, {12035, 1188, 0, null,  l'ombre de Vati, fensge inkognitc}, {343, 1188, 0, null, 2.3, \N}, {75, 1188, 0, null, 1922, 1922}}
-RECORD 16-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1990/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00002.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1990}
 record_count       | 5081
 file_size_in_bytes | 73005
 column_sizes       | {1 -> 15290, 2 -> 54635, 3 -> 75, 4 -> 2001}
 value_counts       | {1 -> 5081, 2 -> 5081, 3 -> 5081, 4 -> 5081}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> (  , 2 ->  bas l'ternit, 3 -> �\a  , 4 -> 1}
 upper_bounds       | {1 -> �I , 2 -> zenetek a Holdrl, 3 -> �\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0
 readable_metrics   | {{15290, 5081, 0, null, 296, 412118}, {54635, 5081, 0, null,  bas l'ternit, zenetek a Holdrl}, {2001, 5081, 0, null, 1, \N}, {75, 5081, 0, null, 1990, 1990}}
-RECORD 17-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 content            | 0
 file_path          | iceberg-warehouse/movies/data/year=1927/00000-25-58ac8b5d-3200-4b4b-be30-e9bdf2f12f57-0-00012.parquet
 file_format        | PARQUET
 spec_id            | 0
 partition          | {1927}
 record_count       | 1420
 file_size_in_bytes | 20269
 column_sizes       | {1 -> 4287, 2 -> 14461, 3 -> 75, 4 -> 444}
 value_counts       | {1 -> 1420, 2 -> 1420, 3 -> 1420, 4 -> 1420}
 null_value_counts  | {1 -> 0, 2 -> 0, 3 -> 0, 4 -> 0}
 nan_value_counts   | {}
 lower_bounds       | {1 -> q   , 2 ->  l'ombre des tom, 3 -> �\a  , 4 -> 1927}
 upper_bounds       | {1 -> �� , 2 -> tok vra, 3 -> �\a  , 4 -> \N}
 key_metadata       | null
 split_offsets      | [4]
 equality_ids       | null
 sort_order_id      | 0

In [52]:
spark.sql('SELECT * FROM iceberg.movies.history;').show()

+--------------------+-------------------+-------------------+-------------------+
|     made_current_at|        snapshot_id|          parent_id|is_current_ancestor|
+--------------------+-------------------+-------------------+-------------------+
|2024-09-12 00:17:...|5624801734738711238|               null|               true|
|2024-09-12 00:20:...|7334931249918322859|5624801734738711238|               true|
|2024-09-12 09:30:...|3961187701446087615|7334931249918322859|               true|
|2024-09-12 15:35:...|6400500400627584846|3961187701446087615|               true|
+--------------------+-------------------+-------------------+-------------------+

In [53]:
x=spark.sql('SELECT * FROM iceberg.movies.snapshots;')
x.show(truncate=False,vertical = True)

-RECORD 0---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 committed_at  | 2024-09-12 00:17:33.241
 snapshot_id   | 5624801734738711238
 parent_id     | null
 operation     | overwrite
 manifest_list | iceberg-warehouse/movies/metadata/snap-5624801734738711238-1-18be2ef2-8376-46d7-960c-b2fac87623d8.avro
 summary       | {spark.app.id -> local-1726080019634, added-data-files -> 122, added-records -> 302134, added-files-size -> 4423040, changed-partition-count -> 122, total-records -> 302134, total-files-size -> 4423040, total-data-files -> 122, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0, engine-version -> 3.4.3, app-id -> local-1726080019634, engine-name -> spark, iceberg-version -> Apache Iceberg 1.6.1 (commit 8e9d59d299be42b0bca9461457cd1e95dbaad086)}
-RECORD 1---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 committed_at  | 2024-09-12 00:20:54.004
 snapshot_id   | 7334931249918322859
 parent_id     | 5624801734738711238
 operation     | overwrite
 manifest_list | iceberg-warehouse/movies/metadata/snap-7334931249918322859-1-cefb8f46-281d-44d0-8b0b-3ddb1b5a9ad5.avro
 summary       | {spark.app.id -> local-1726080019634, added-data-files -> 6, deleted-data-files -> 122, added-records -> 48230, deleted-records -> 302134, added-files-size -> 681818, removed-files-size -> 4423040, changed-partition-count -> 122, total-records -> 48230, total-files-size -> 681818, total-data-files -> 6, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0, engine-version -> 3.4.3, app-id -> local-1726080019634, engine-name -> spark, iceberg-version -> Apache Iceberg 1.6.1 (commit 8e9d59d299be42b0bca9461457cd1e95dbaad086)}
-RECORD 2---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 committed_at  | 2024-09-12 09:30:54.82
 snapshot_id   | 3961187701446087615
 parent_id     | 7334931249918322859
 operation     | overwrite
 manifest_list | iceberg-warehouse/movies/metadata/snap-3961187701446087615-1-9591ccc5-5416-44f1-9492-7f97c2e71993.avro
 summary       | {spark.app.id -> local-1726113624173, added-data-files -> 122, deleted-data-files -> 6, added-records -> 302134, deleted-records -> 48230, added-files-size -> 4423040, removed-files-size -> 681818, changed-partition-count -> 122, total-records -> 302134, total-files-size -> 4423040, total-data-files -> 122, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0, engine-version -> 3.4.3, app-id -> local-1726113624173, engine-name -> spark, iceberg-version -> Apache Iceberg 1.6.1 (commit 8e9d59d299be42b0bca9461457cd1e95dbaad086)}
-RECORD 3---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 committed_at  | 2024-09-12 15:35:31.193
 snapshot_id   | 6400500400627584846
 parent_id     | 3961187701446087615
 operation     | overwrite
 manifest_list | iceberg-warehouse/movies/metadata/snap-6400500400627584846-1-f93fccca-3537-48be-afa9-65d53e0f1c43.avro
 summary       | {spark.app.id -> local-1726134947477, added-data-files -> 122, deleted-data-files -> 122, added-records -> 302134, deleted-records -> 302134, added-files-size -> 4423040, removed-files-size -> 4423040, changed-partition-count -> 122, total-records -> 302134, total-files-size -> 4423040, total-data-files -> 122, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0, engine-version -> 3.4.3, app-id -> local-1726134947477, engine-name -> spark, iceberg-version -> Apache Iceberg 1.6.1 (commit 8e9d59d299be42b0bca9461457cd1e95dbaad086)}

In [ ]:
spark.sql("select h.made_current_at, s.operation, h.snapshot_id, h.is_current_ancestor, s.summary['spark.app.id'] from iceberg.movies.history h join iceberg.movies.snapshots s on h.snapshot_id = s.snapshot_id order by made_current_at").show(truncate=False,vertical = True)

In [54]:
spark.sql('select * from iceberg.movies.manifests').show(truncate=False, vertical=True)
"""
Fields within partition_summaries column of the manifests table correspond to field_summary struct within manifest_list, with the following order: 
contains_null - contains_nan - lower_bound - upper_bound
Note: contains_nan could return null, which indicates that this information is not available from files metadata
"""

-RECORD 0-----------------------------------------------------------------------------------------------------
 content                     | 0
 path                        | iceberg-warehouse/movies/metadata/f93fccca-3537-48be-afa9-65d53e0f1c43-m1.avro
 length                      | 15921
 partition_spec_id           | 0
 added_snapshot_id           | 6400500400627584846
 added_data_files_count      | 122
 existing_data_files_count   | 0
 deleted_data_files_count    | 0
 added_delete_files_count    | 0
 existing_delete_files_count | 0
 deleted_delete_files_count  | 0
 partition_summaries         | [{false, false, 1606, 90210}]
-RECORD 1-----------------------------------------------------------------------------------------------------
 content                     | 0
 path                        | iceberg-warehouse/movies/metadata/f93fccca-3537-48be-afa9-65d53e0f1c43-m0.avro
 length                      | 15937
 partition_spec_id           | 0
 added_snapshot_id           | 6400500400627584846
 added_data_files_count      | 0
 existing_data_files_count   | 0
 deleted_data_files_count    | 122
 added_delete_files_count    | 0
 existing_delete_files_count | 0
 deleted_delete_files_count  | 0
 partition_summaries         | [{false, false, 1606, 90210}]

'\nFields within partition_summaries column of the manifests table correspond to field_summary struct within manifest_list, with the following order: \ncontains_null - contains_nan - lower_bound - upper_bound\nNote: contains_nan could return null, which indicates that this information is not available from files metadata\n'

In [55]:
spark.sql("select * from iceberg.movies where id>2000 and id<300000").show()

+-----+--------------------+----+-------+
|   id|               movie|year|ranking|
+-----+--------------------+----+-------+
|12718|Alumnos de Chapul...|1896|     \N|
|12719|Alumnos de Chapul...|1896|     \N|
|13895|American Falls fr...|1896|     \N|
|15226|          Amy Muller|1896|    4.3|
|17624|Annabelle in Flag...|1896|     \N|
|19429|            Aquarium|1896|     \N|
|20816|Arrive d'un train...|1896|     \N|
|20817|Arrive d'un train...|1896|     \N|
|20820|Arrive d'un train...|1896|     \N|
|21588|Asalto a sable de...|1896|     \N|
|23212|Atlantic City Bat...|1896|     \N|
|23215|Atlantic City Boa...|1896|     \N|
|23216|Atlantic City Boa...|1896|     \N|
|24687|           Autruches|1896|    5.4|
|24981|Avenida da Liberdade|1896|     \N|
|25396|    Awakening of Rip|1896|     \N|
|25693|  Azenhas no Rio Ave|1896|     \N|
|26189|      Babies Quarrel|1896|    6.4|
|27835|     Baignade en mer|1896|     \N|
|27862|Baile de la romer...|1896|     \N|
+-----+--------------------+----+-------+
only showing top 20 rows

In [56]:
spark.sql('show partitions iceberg.movies').show()
#spark UI
#hive
# In Apache Hive, the files in a partition are scanned at runtime, while in Iceberg there is a manifest file which improves performance.

AnalysisException: Table iceberg.movies does not support partition management.; line 1 pos 16;
ShowPartitions [partition#1485]
+- ResolvedTable org.apache.iceberg.spark.SparkCatalog@76531dad, movies, iceberg.movies, [id#1486, movie#1487, year#1488, ranking#1489]

In [58]:
df = spark.read.format('CSV').option('header','true').load('movies_2482024.csv')
df.createOrReplaceTempView('temp_movies_r')
df = spark.sql('select * from temp_movies_r where year >= 1995 and year <= 2000')
df.createOrReplaceTempView('temp_movies_r')
df.show()
spark.sql("insert overwrite table iceberg.movies select CAST(id as decimal(14,0)) as id, movie, CAST(year as decimal(14,0)) as year, ranking from temp_movies_r").show()

+---+--------------------+----+-------+
| id|               movie|year|ranking|
+---+--------------------+----+-------+
| 15|                 $30|1999|    7.5|
| 31|               $pent|2000|    4.3|
| 34|             & frres|2000|     \N|
| 64|       'Bats' Abound|1999|     \N|
| 66|'Betty Bee' (sopr...|1999|     \N|
|101|'El Chicko' - der...|1995|    4.1|
|118|'Halloween' Unmas...|1999|     \N|
|136|'Java Madness' fo...|1995|    6.6|
|145|'Ks-Bels' letmdja...|1995|     \N|
|152|            'M' Word|1996|     \N|
|155|'Man Who Couldn't...|1996|     \N|
|176|'N Sync & Britney...|2000|     \N|
|177|  'N Sync In Concert|1998|     \N|
|178|'N Sync: 'Ntimate...|2000|     \N|
|179|'N Sync: Live Fro...|2000|     \N|
|180|'N Sync: Making t...|2000|     \N|
|181|'N Sync: No Strin...|1999|     \N|
|184|'Ne gnstige Geleg...|1999|    4.6|
|199|         'O' de amor|1995|     \N|
|201|'On the Inside: C...|2000|     \N|
+---+--------------------+----+-------+
only showing top 20 rows

++
||
++
++

In [59]:
spark.sql('select count(*) from iceberg.movies').show(truncate=False, vertical=True)

-RECORD 0---------
 count(1) | 48230

In [60]:
spark.sql('select count(*) from iceberg.movies for SYSTEM_TIME as of "2024-09-12 00:19:54.899"').show(truncate=False, vertical=True)

-RECORD 0----------
 count(1) | 302134

In [61]:
spark.sql('select count(*) from iceberg.movies for SYSTEM_VERSION as of "5624801734738711238"').show(truncate=False, vertical=True)

-RECORD 0----------
 count(1) | 302134

In [ ]:
spark.sql('select count(*) from iceberg.movies for SYSTEM_VERSION as of "7334931249918322859"').show(truncate=False, vertical=True)

In [ ]:
spark.sql('select count(*) from iceberg.movies for SYSTEM_VERSION as of "3651939683099648566"').show(truncate=False, vertical=True)

In [ ]:
spark.sql('select count(*) from iceberg.movies for SYSTEM_VERSION as of "8158436517200082356"').show(truncate=False, vertical=True)

In [ ]:
spark.read.option("snapshot-id", 7334931249918322859).table("iceberg.movies").show()

In [62]:
spark.sql("ROLLBACK TABLE iceberg.movies TO SNAPSHOT '3961187701446087615'")
# spark.sql("CALL iceberg.system.rollback_to_snapshot('iceberg.movies', '6687819643318083920')")
# spark.sql("ALTER TABLE iceberg.movies EXECUTE ROLLBACK(3651939683099648566);")

ParseException:
Operation not allowed: ROLLBACK.(line 1, pos 0)

== SQL ==
ROLLBACK TABLE iceberg.movies TO SNAPSHOT '3961187701446087615'
^^^