In [2]:
import findspark

findspark.init()

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[4]").appName("df_spark").getOrCreate()
spark

In [4]:
df = spark.read.csv('C:/git_dasariarjunreddy/DataEngineering/sample data/actors.csv')
df.show()

+---+------------+--------------------+------+
|_c0|         _c1|                 _c2|   _c3|
+---+------------+--------------------+------+
| id|  first_name|           last_name|gender|
|  2|     Michael|  'babeepower' Viera|     M|
|  3|        Eloy|         'Chincheta'|     M|
|  4|    Dieguito|         'El Cigala'|     M|
|  5|     Antonio|    'El de Chipiona'|     M|
|  6|        José|        'El Francés'|     M|
|  7|       Félix|           'El Gato'|     M|
|  8|     Marcial|        'El Jalisco'|     M|
|  9|        José|         'El Morito'|     M|
| 10|   Francisco|'El Niño de la Ma...|     M|
| 11|      Víctor|         'El Payaso'|     M|
| 12|     Antonio|       'El Pescaíto'|     M|
| 13|        Luis|          'El Plojo'|     M|
| 14|       Janny|      'el Portugues'|     M|
| 15|     Antonio|         'El Rilete'|     M|
| 16|    Baltazar|           'El Toro'|     M|
| 17|Luis Roberto|           'Formiga'|     M|
| 18|  Murray the|                 'K'|     M|
| 19|      Néstor|        'Kick Boxer'|     M|
| 20|        Tony|         'La Chispa'|     M|
+---+------------+--------------------+------+
only showing top 20 rows

In [5]:
actors_df = spark.read.format('csv').option('header','true').load('C:/git_dasariarjunreddy/DataEngineering/sample data/actors.csv')
print(actors_df)
# display(actors_df)
actors_df.show()

DataFrame[id: string, first_name: string, last_name: string, gender: string]
+---+------------+--------------------+------+
| id|  first_name|           last_name|gender|
+---+------------+--------------------+------+
|  2|     Michael|  'babeepower' Viera|     M|
|  3|        Eloy|         'Chincheta'|     M|
|  4|    Dieguito|         'El Cigala'|     M|
|  5|     Antonio|    'El de Chipiona'|     M|
|  6|        José|        'El Francés'|     M|
|  7|       Félix|           'El Gato'|     M|
|  8|     Marcial|        'El Jalisco'|     M|
|  9|        José|         'El Morito'|     M|
| 10|   Francisco|'El Niño de la Ma...|     M|
| 11|      Víctor|         'El Payaso'|     M|
| 12|     Antonio|       'El Pescaíto'|     M|
| 13|        Luis|          'El Plojo'|     M|
| 14|       Janny|      'el Portugues'|     M|
| 15|     Antonio|         'El Rilete'|     M|
| 16|    Baltazar|           'El Toro'|     M|
| 17|Luis Roberto|           'Formiga'|     M|
| 18|  Murray the|                 'K'|     M|
| 19|      Néstor|        'Kick Boxer'|     M|
| 20|        Tony|         'La Chispa'|     M|
| 21|     Pollino|            'Romero'|     M|
+---+------------+--------------------+------+
only showing top 20 rows

In [6]:
actors_df.select("first_name").filter("id<5").show()

+----------+
|first_name|
+----------+
|   Michael|
|      Eloy|
|  Dieguito|
+----------+

In [7]:
actors_df.select(actors_df.first_name).filter("id<5").show()

+----------+
|first_name|
+----------+
|   Michael|
|      Eloy|
|  Dieguito|
+----------+

In [8]:
actors_df.select(actors_df.first_name).filter(actors_df.id<5).show()

+----------+
|first_name|
+----------+
|   Michael|
|      Eloy|
|  Dieguito|
+----------+

In [9]:
from pyspark.sql.functions import col
actors_df.select(col("first_name")).filter("id<5").show()

+----------+
|first_name|
+----------+
|   Michael|
|      Eloy|
|  Dieguito|
+----------+

In [10]:
drts_df = spark.read.format('csv').option('header','true').load('C:/git_dasariarjunreddy/DataEngineering/sample data/directors.csv')
print(drts_df)
# display(actors_df)
drts_df.show()

DataFrame[id: string, first_name: string, last_name: string]
+---+------------------+-----------+
| id|        first_name|  last_name|
+---+------------------+-----------+
|  1|              Todd|          1|
|  2|               Les|12 Poissons|
|  3|           Lejaren|   a'Hiller|
|  4|              Nian|          A|
|  5|          Khairiya|  A-Mansour|
|  6|           Ricardo|   A. Solla|
|  8|Kodanda Rami Reddy|         A.|
|  9|     Nageswara Rao|         A.|
| 10|              Yuri|         A.|
| 11|             Swamy|     A.S.A.|
| 12|           Per (I)|      Aabel|
| 13|            Eivind|      Aaeng|
| 14|              Mang|        Aag|
| 15|           Sigfred|    Aagaard|
| 16|           Michael|    Aaglund|
| 17|            Safdar|        Aah|
| 18|            Astrid|      Aakra|
| 19|      Mohamad Reza|     Aalami|
| 20|             Jefri|Aalmuhammed|
| 21|         Rostislav|      Aalto|
+---+------------------+-----------+
only showing top 20 rows

In [11]:
drts_gnr_df = spark.read.format('csv').option('header','true').load('C:/git_dasariarjunreddy/DataEngineering/sample data/directors_genres.csv')
print(drts_gnr_df)
# display(actors_df)
drts_gnr_df.show()

DataFrame[director_id: string, genre: string, prob: string]
+-----------+-----------+--------+
|director_id|      genre|    prob|
+-----------+-----------+--------+
|          2|      Short|       1|
|          3|      Drama|       1|
|          5|Documentary|       1|
|          6|      Drama|       1|
|          6|      Short|       1|
|          8|     Action|0.666667|
|          8|  Adventure|0.037037|
|          8|     Comedy|0.185185|
|          8|      Crime|0.148148|
|          8|      Drama|0.592593|
|          8|     Family|0.407407|
|          8|    Romance|0.222222|
|          8|   Thriller|0.111111|
|         10|     Comedy|       1|
|         10|      Short|       1|
|         11|      Drama|       1|
|         12|     Comedy|       1|
|         16|      Short|       1|
|         18|  Animation|       1|
|         18|     Comedy|       1|
+-----------+-----------+--------+
only showing top 20 rows

In [12]:
result = drts_df.join(drts_gnr_df, drts_gnr_df["director_id"]==drts_df["id"], how="inner")
result.show()

+---+------------------+-----------+-----------+-----------+--------+
| id|        first_name|  last_name|director_id|      genre|    prob|
+---+------------------+-----------+-----------+-----------+--------+
|  2|               Les|12 Poissons|          2|      Short|       1|
|  3|           Lejaren|   a'Hiller|          3|      Drama|       1|
|  5|          Khairiya|  A-Mansour|          5|Documentary|       1|
|  6|           Ricardo|   A. Solla|          6|      Drama|       1|
|  6|           Ricardo|   A. Solla|          6|      Short|       1|
|  8|Kodanda Rami Reddy|         A.|          8|     Action|0.666667|
|  8|Kodanda Rami Reddy|         A.|          8|  Adventure|0.037037|
|  8|Kodanda Rami Reddy|         A.|          8|     Comedy|0.185185|
|  8|Kodanda Rami Reddy|         A.|          8|      Crime|0.148148|
|  8|Kodanda Rami Reddy|         A.|          8|      Drama|0.592593|
|  8|Kodanda Rami Reddy|         A.|          8|     Family|0.407407|
|  8|Kodanda Rami Reddy|         A.|          8|    Romance|0.222222|
|  8|Kodanda Rami Reddy|         A.|          8|   Thriller|0.111111|
| 10|              Yuri|         A.|         10|     Comedy|       1|
| 10|              Yuri|         A.|         10|      Short|       1|
| 11|             Swamy|     A.S.A.|         11|      Drama|       1|
| 12|           Per (I)|      Aabel|         12|     Comedy|       1|
| 16|           Michael|    Aaglund|         16|      Short|       1|
| 18|            Astrid|      Aakra|         18|  Animation|       1|
| 18|            Astrid|      Aakra|         18|     Comedy|       1|
+---+------------------+-----------+-----------+-----------+--------+
only showing top 20 rows